.login-card {
    padding: 22px;
    text-align: center;
    max-width: 450px;
    margin: 10px auto;
}

 /* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid hsl(263, 58%, 31%) !important;
    box-shadow: 0 1px 0 0 hsl(263, 58%, 31%) !important;
}