.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay--light {
  background: rgba(0, 0, 0, 0.4);
}

.overlay--medium {
  background: rgba(0, 0, 0, 0.5);
}

.overlay--dark {
  background: rgba(0, 0, 0, 0.8);
}
