
.home-card{
    max-width: 550px;
    height: max-content;
    margin: 25px auto;
}
.profilePic{
    height: 25px;
    width: 25px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 900px) {
    .home-layout {
        flex-direction: column !important;
    }
    
    .sidebar {
        width: 100% !important;
        position: static !important;
    }
}
