@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


a{
    color: black !important;
} 

.brand-logo{
    font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #f5f5f5;
}

.login-container {
    margin-top: 35px;
}