@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


a{
    color: black !important;
} 

.brand-logo{
    font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.brand-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nav-mobile{
    margin-left: auto;
}

body{
    background-color: #f5f5f5;
}

.login-container {
    margin-top: 35px;
}